<%= session[:current_user_id] %><br>
created events
<ul>
  <% Event.where(creator_id: session[:current_user_id]).each do |event| %>
    <li>
      <%= link_to event.description , event_path(event) %>
    </li>
  <% end %>
</ul>
attending events
<ul>
  <% @user.attended_events.each do |event| %>
    <li>
      <%= link_to event.description , event_path(event) %>
    </li>
  <% end %>
</ul>
<%= link_to "event index", events_path %>
